/* CUSTOM CURSOR */
* {
  cursor: none !important;
}
.custom-cursor {
  position: absolute;
  width: 30px;
  height: 52px;
  pointer-events: none; /* Ensure the cursor does not interfere with interactions */
  z-index: 9999; /* Ensure the cursor appears on top of other elements */
  background-image: url("../static/fireanim.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
}

.cursor-particle {
  opacity: 1;
}

.custom-cursor.amplify {
  animation: scale 1.7s ease-in-out infinite alternate;
}

/* ANIMATIONS */
/* scale up & down */
@keyframes scale {
  0% {
    width: 30px;
    height: 52px;
    /* transform: scale(1); */
  }
  50% {
    /* transform: scale(1.5); */
    width: 45px;
    height: 78px;
  }
  100% {
    /* transform: scale(1); */
    width: 30px;
    height: 52px;
  }
}
