#scroll {
  margin: auto;
  background-image: url("../static/scroll.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  height: 105vw;
  display: flex;
  justify-content: center;
}

#sexy {
  line-height: 0.6vw;
  font-size: 0.5vw;
  font-family: monospace;
  font-weight: bold;
  white-space: pre;
  width: fit-content;
  margin-top: 14%;
}
