/* DOORS */

@media screen and (max-width: 768px) {
  .door-container {
    flex-direction: column;
    width: 100%;
    gap: 2em;
  }
  .door {
    margin: 0.75em auto;
  }
}

.door-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 1em;
}

.door-container input {
  display: none;
}

.door {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 234px;
  font-family: "Grenze Gotisch", cursive;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgb(141 66 1 / 90%);
  color: #b90000;
  background-image: url("../static/closedor.gif");
}

.door-container input:checked + .door {
  display: none;
}

.door:hover {
  animation: glow 1s ease-in-out infinite alternate;
  background-image: url("../static/opendor.gif");
}

@keyframes glow {
  from {
    text-shadow: 1px 1px 4px #ffe375, 0 0 10px #ffe375;
  }
  to {
    text-shadow: 1px 1px 8px #ffe375, 0 0 20px #ffe375;
  }
}
