.knight_horse_blue {
  width: 99px;
  height: 76px;
}

.shiny_shield {
  width: 195px;
  height: 214px;
}

.angry-knight {
  width: 128px;
  height: 128px;
}

.licorne {
  --licorne-width: 121px;
  width: 121px;
  height: 118px;
}

.pigeon-letter {
  width: 88px;
  height: 72px;
}

@media (max-width: 600px) {
  .knight_horse_blue {
    width: 50px;
    height: 38px;
  }

  .shiny_shield {
    width: 97px;
    height: 107px;
  }

  .angry-knight {
    width: 64px;
    height: 64px;
  }

  .licorne {
    --licorne-width: 60px;
    width: 60px;
    height: 59px;
  }

  .pigeon-letter {
    width: 44px;
    height: 36px;
  }
}
