html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MedievalSharp", serif;
  min-height: 100vh;
  background-image: url("../static/wall.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
}

h1,
h2,
h3,
h4 {
  font-family: "UnifrakturMaguntia", serif;
  color: #b90000;
}

h1 {
  font-size: 10vh;
}
h2 {
  font-size: 7vh;
}

.false-link {
  text-decoration: none;
  color: inherit;
}

.main-title {
  font-family: "UnifrakturMaguntia", serif;
  font-size: 6vw;
  color: #b90000;
  text-align: center;
  margin: 7vh 0;
  animation: glow 1s ease-in-out infinite alternate;
  display: block;
}

section {
  width: 40%;
  max-width: 540px;
  margin: 5em auto;
  padding: 1.5em;
  background-image: url("../static/parchment.jpg");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  display: none;
  padding: 5vh 2vw;
  margin: 0 7vw;
}

main * {
  position: relative;
}

#torchs {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.torch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.torch > *:first-child {
  opacity: 0;
}
.torch.on > *:first-child {
  opacity: 1;
}

.page.hidden {
  display: none;
}
