#arrow-template {
  display: none;
}
.arrow {
  position: absolute;
}

#crossbow {
  display: block;
  transform-origin: center;
  z-index: 50;
}
#herse {
  text-align: center;
}
#herse #game-container {
  height: 100vh;
}
#hersepopup .popup-content {
  display: flex;
  flex-direction: column;
}
#hersepopup .popup-content > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hersepopup .message {
  font-size: 2em;
  text-align: center;
}
#herse p,
#herse #score-container {
  color: darkgoldenrod;
  font-size: 2em;
}
#herse #score-container {
  position: absolute;
  right: 0;
}

#castle {
  background: url("../static/castle.png");
  background-position: 0 0;
  background-size: cover;
  width: 200px;
  height: 64px;
  margin: auto;
}
#castle.hurt {
  background-position: -200px 0;
}
.damsel {
  position: absolute;
}
.damsel.hurt,
.damsel.hurt-mobile {
  animation: damage 0.5s infinite;
}

#mendiant-template {
  display: none;
}

.mendiant {
  position: absolute;
  background: url("../static/ouille.png");
  background-position: 0 0;
  background-size: cover;
}

.mendiant.hurt {
  background-position: -158px 0;
}
.mendiant.hurt-mobile {
  background-position: -80px 0;
}

@keyframes damage {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(60deg);
  }
}

#debug {
  position: absolute;
  /* border: 1px solid red; */
}

@media screen and (max-width: 600px) {
  #herse p,
  #herse #score-container {
    font-size: 1em;
  }
  #hersepopup {
    font-size: 0.8rem;
  }
}
