#landing {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 499;
  width: 100vw;
  gap: 15px;
}
#opendor {
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "UnifrakturMaguntia", serif;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgb(141 66 1 / 90%);
  color: #b90000;

  background-image: url("../static/scroll.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

  width: 300px;
  height: 404px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;

  transition: transform 3s ease;
}

#opendor.fade {
  transform: translate(-50%, calc(-100% - 50vh));
}

#opendor:hover {
  text-shadow: 1px 1px 4px #710000, 0 0 10px #710000;
}

#landing.loaded {
  z-index: 0;
}

#landing.loading #left-bricks {
  transform: translateX(-90%);
}

#landing.loading #right-bricks {
  transform: translateX(90%);
}
