.image-container {
    display: flex;
    justify-content: center;
    overflow: visible;
    flex-wrap: wrap;
    align-items: center;
    --ratio: 0.2;
}
#couvre-chef {
    height: calc(1250px * var(--ratio));
}
#affublement {
    height: calc(3000px * var(--ratio));
}
#godille {
    height: calc(700px * var(--ratio));
}

.drag img {
    /*max-width: 50%;*/
    max-width: none;
    transform: scale(var(--ratio));
    width: auto;
    height: auto;

}

.drag {
    position: relative;
    width: 10px;
    height: 50px;
    margin: -250px;
}

