#team {
  min-height: 80vh;
  /*scale: 0;
  transition: transform 0.5s ease-in, opacity 2s ease;
  position: relative;*/
}

[role="unecessary-steps"] {
  transition: all 2s ease;
  position: absolute;
  font-size: 1.5em;
}
[role="unecessary-steps"]:not(:first-child) {
  opacity: 0;
  display: none;
}

#team-name {
  letter-spacing: 9px;
  font-size: 3em;
  /*height: 2em;*/
  text-align: center;
  font-family: "fraktur", monospace;
  margin: 0 auto;
}

#team-gif {
  margin: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.team-gif,
#explosion {
  display: none;
  position: absolute;
  width: auto;
  margin: auto;
}

#explosion {
  transform: scale(4) translateY(10px);
  z-index: 100;
  margin: auto;
}

.team-gif {
  height: 175px;
  max-height: 175px;
}

.bornInFlames {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
