#team {
    min-height: 80vh;
    display: none;
}

#draw-team {
    transition: all 3s ease;
}

#team-name {
    letter-spacing: 9px;
    font-size: 3em;
    height: 2em;
    text-align: center;
    font-family: "fraktur", monospace;
}

#team-gif {
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.team-gif, #explosion {
    display: none;
    position: absolute;
    width: auto;
    margin: auto;
}

#explosion {
    transform: scale(4) translateY(10px);
    z-index: 100;
    margin: auto;
}

.team-gif {
    height: 175px;
    max-height: 175px;
}

.bornInFlames {
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
