#team {

}

#team-name {
    letter-spacing: 9px;
    font-size: 4em;
    height: 2em;
    text-align: center;
    /*line-height: 2vh;*/
    font-family: "fraktur", monospace;
}

#team-gif {
    position: relative;
    height: 200px;
}

.team-gif, #explosion {
    display: none;
    position: absolute;
    height: 175px;
    width: auto;
    /*top: 0;
    left: 0;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#explosion {
    transform: scale(2.5);
    z-index: 100;
}
